img {
    width: 160px;
    border-radius: 30%;
  }
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    justify-content: center;
  }
  body {
    background-color: #1b1b1b;
  }
  .header {
    background-color: #1b1b1b;
    height: 100px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }
  .header p {
    font-family: arial;
    font-size: 18px;
    color: #fff;
    padding-bottom: 4px;
  }
  .header h2 {
    font-family: 'Acme', sans-serif;
    font-size: 30px;
    color: #f8b700;
  }
  .interface {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1b1b1b;
  }
  .interface a {
    display: flex;
    flex-wrap: nowrap;
  }
  .interface img {
    width: 120px;
    height: 120px;
  }
  
  .img-avatar {
    width: 160px !important;
    height: 160px !important;
  }
  
  .interface div {
    width: 220px;
    padding: 0 10px 0 20px;
  }
  
  .interface a:hover div {
    background-color: #3c1d3d;
  }
  
  .interface h3 {
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    color: #f8b700;
    padding: 12px 0 4px;
  }
  
  .interface p {
    font-family: arial;
    font-size: 12px;
    color: #d5c8af;
    line-height: 20px;
  }
  
  .btn-prefight {
    width: 100% !important;
  }
  
  .actions {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .actions a {
    width: 33.33%;
    padding: 10px 0px;
    text-align: center;
    font-size: 14px;
    font-family: arial;
    color: #1b1b1b;
  }
  
  .actions a:nth-of-type(1) {
    background-color: #e64747;
  }
  
  .actions a:nth-of-type(2) {
    background-color: #e6ce47;
  }
  
  .actions a:nth-of-type(3) {
    background-color: #6de647;
  }

  .actions a:nth-of-type(4) {
      background-color: aquamarine;
  }
  
  .actions a:hover {
    opacity: 0.9;
  }
  
  .enemy {
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1b1b1b;
  }
  
  .enemy a {
    display: flex;
    flex-wrap: nowrap;
  }
  
  .enemy img {
    width: 120px;
    height: 120px;
  }
  
  .enemy div {
    width: 220px;
    padding: 0 10px 0 20px;
  }
  
  .enemy a:hover div {
    background-color: #3c1d3d;
  }
  
  .enemy h3 {
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    color: #f8b700;
    padding: 12px 0 4px;
  }
  
  .enemy p {
    font-family: arial;
    font-size: 12px;
    color: #d5c8af;
    line-height: 20px;
  }
body {
    background-color: #1b1b1b;
}
.header h1, h2 {
    font-family: 'Acme';
    color: #59d4af;
    text-align: center;
}
.arena {
    color: white;
    font-size: larger;
    text-align: center;
}
.btn-start {
    padding: 7.5%;
    background-color: black;
    color: cadetblue;
    font-size: xx-large;
    font-family: 'Acme';
    border-radius: 25px;
}
.gamestart {
        display: flex;
        align-items: center;
        justify-content: center;
        color: cadetblue;
}
.interface {
    background-position: center;
    justify-content: center;
    display: flex;
    align-items: center;
}
.btn-classpick{
    padding: 7.5%;
    background-color: black;
    color: cadetblue;
    font-size: xx-large;
    font-family: 'Acme';
    border-radius: 25px;
}
.img-avatar {
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30%;
}
.classType{
    top: 350px;
    right: 270px;
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: x-large;
    font-family: 'Acme';
}
.health-player{
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: large;
    font-family: 'Acme';
}
.mana-player{
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: large;
    font-family: 'Acme';
}
.strength-player{
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: large;
    font-family: 'Acme';
}
.dexterity-player{
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: large;
    font-family: 'Acme';
}
.gold-player{
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: large;
    font-family: 'Acme';
}
.btn-search {
    background-color: #4CAF50; 
    border: thin;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.btn-rest {
    background-color: gray; 
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.btn-fight {
    background-color: crimson; 
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.btn-talk {
    background-color: darkcyan;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.btn-reset {
    background-color: black;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}
.btn-attack {
background-color: crimson;
color: white;
padding: 10px 30px;
text-align: center;
justify-content: left;
}
.img-enemy {
    width: 145px;
    height: 145px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30%;
}
.mana-enemy{
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: large;
    font-family: 'Acme';
}
.health-enemy{
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: large;
    font-family: 'Acme';
}
.type-enemy{
    font-weight: bold;
    color: white;
    background-color: black;
    font-size: large;
    font-family: 'Acme';
}
.enemy {
    visibility: hidden;
}
.btn-dialog {
  background-color: #2bb15c;
  border: thin;
  border-style: ridge;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}
.btn-NPC {
  background-color: #337c2d;
  border: thin;
  border-style: ridge;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}